<label class="profile-input">
  <span class="profile-input__label">{{label}}</span>
  <input class="profile-input__field" type="{{type}}" name="{{name}}" value="{{value}}" {{#if isDisabled}}disabled{{/if}}>
</label>