<div class="profile">
  <div class="profile__route-back">
    {{{iconButton}}}
  </div>
  <div class="profile__form">
    <div class="profile__avatar">
      <img src="/icons/default-avatar.svg" alt="default-avatar">
    </div>
    <div class="profile__inputs">
      {{{inputs}}}
    </div>
    <div class="profile__footer">
      <div class="profile__link">
        {{> link text='Изменить данные'}}
      </div>
      <div class="profile__link">
        {{> link text='Изменить пароль'}}
      </div>
      {{> link text='Выход' style='color: #FF0000'}}
    </div>
  </div>
</div>